<div class="col-md-7 content">
  <form name="form" autocomplete="off" (submit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
    <h1 class="welcomeHeader">Register for Online Shopping</h1>
    <div>
      <h3 class="subHeaderArea">
          Sign up in seconds to start shopping online, and get groceries and more delivered to your door.
      </h3>
    </div>
        <div class="form-group">
            <label class="controlLabel">First Name</label>
            <input  name="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" type="text"  class="form-control"  [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
            <div *ngIf="f.submitted && firstName.invalid">
              <label class="text-danger"  *ngIf="firstName.errors.required">First Name is required</label>
            </div>
            
        </div>
        <div class="form-group">
            <label class="controlLabel">Surname</label>
            <input  type="text" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" class="form-control"  [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
            <div *ngIf="f.submitted && lastName.invalid">
              <label class="text-danger" *ngIf="lastName.errors.required">Last Name is required</label>
            </div>
            
        </div>
           <div class="form-group">
              <label class="controlLabel">Email Address</label>
              <input type="text"  name="email" [(ngModel)]="form.email" #email="ngModel"  class="form-control"  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
              <div *ngIf="f.submitted && email.invalid">
                <label class="text-danger" *ngIf="email.errors.required">Email is required</label>
              </div>
              
           </div>
           
            <div class="form-group">
              <label class="controlLabel">
                  Password
                </label>
                <input  name="password" [(ngModel)]="form.password"  #password="ngModel" type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="8"  required>
                <div *ngIf="f.submitted && password.invalid">
                  <label class="text-danger" *ngIf="password.errors.required">Password is required.</label>
                  <label class="text-danger" *ngIf="password.errors.minlength">Minimum 8 characters required.</label>
                </div>
                
          </div>
          <div class="form-group">
              <label class="controlLabel">
                  Confirm Password
                </label>
                 <input name="confirmPassword" [(ngModel)]="form.confirmPassword" type="password" #confirmPassword="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                 <div *ngIf="f.submitted && confirmPassword.invalid">
                  <label class="text-danger" *ngIf="confirmPassword.errors.required" >Please confirm password.</label>
                  <label class="text-danger" *ngIf="confirmPassword.errors.minlength" >Passwords does not match.</label>
                 </div>
                 
              </div>
           
           
      <div class="form-group">
          <label class="controlLabel">Mobile Number</label>
          <input  name="phoneNumber" [(ngModel)]="form.phoneNumber"  type="text" class="form-control">
      </div>
      <div class="form-group">
          <label class="controlLabel">Street Address </label> 
          <input  name="streetAddress" [(ngModel)]="form.streetAddress"   type="text" class="form-control">
      </div>
      <div class="form-group">
          <label class="controlLabel">Suburb</label>
          <input  name="suburb" [(ngModel)]="form.suburb" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label class="controlLabel">City</label>
          <input  name="city" [(ngModel)]="form.city"  type="text" class="form-control">
      </div>
      <div class="form-group">
          <label class="controlLabel">Postal Code
            </label>
            <input name="postalCode" [(ngModel)]="form.postalCode"  type="input" class="form-control">
      </div>
      <div class="form-group">
          <label class="controlLabel">
              Province
            </label>
            <input name="province" [(ngModel)]="form.province"  type="dropdown" class="form-control">
      </div>
        <div class="form-row">
          <div class="form-group">
              <button class="btn btn-primary" style="height: 3em; width:10em; margin-left:2em; background: #FFFFFF; color:#795548; border:#795548 1px solid; border-radius: 0px; font-weight:bold"  class="btn btn-primary" type="submit" >Accept and Register</button>
             
          </div>
        </div>
  </form>
</div>
